{% extends 'base.html' %}
{#{% block title %}<title>Fill cash page</title>{% endblock %}#}

{% block content %}
{#    <h4>Not Enough Cash To Bet? Deposit them</h4>#}
    <form method="post" action="{% url 'fillCash' %}" onSubmit="window.location.reload();">
        {% csrf_token %}
        <input type="text" placeholder="Bet name" name="betName" required>
        <input type="number" min="1.01" placeholder="W1" name="betW1">
        <input type="number" min="1.01" placeholder="D0" name="betD0">
        <input type="number" min="1.01" placeholder="W2" name="betW2">
        <br>
        <input type="submit" value="Pay" name="pay">
    </form>

{% endblock %}